{% block modalCopy %}
    <div class="modal_bg" id="modal-copy">
        <div class="dialog_window_publication_bids_list_copy">
            <div class="dialog_window_publication_bids_list-head">

                <textarea id="permlink"></textarea>
            </div>

                <div class="control_bttons">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect  btn-copy" data-clipboard-target="#permlink">{{'Копія'|trans}}</button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect  btn-cancel">{{'Закрити'|trans}}</button>
                </div>

        </div>
    </div>
{% endblock modalCopy%}