{% block errorSearchAddress %}
    <dialog class="mdl-dialog">
        <h5 >
           Нічого не знайдено!
        </h5>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-js-button mdl-js-ripple-effect {#m  btn-cancel#}mdl-button btn-cancel">Закрити</button>
        </div>
    </dialog>
{% endblock errorSearchAddress%}