{% block modalHelp %}
    <div class="modal_bg" id="modal-help">
        <div class="dialog_window_publication_bids_list">
            <div class="dialog_window_publication_bids_list-head">
                <span class="title">
                    {{'Допомога'|trans}}
                </span>
                <div class="dialog_window_publication_bids_list-body">
{# HELP #}
                  <h6>NSDI Data Viewer v1.14</h6>
                </div>
            </div>
            <div class="dialog_window_publication_bids_list-footer">
                <div class="control_bttons">
                    <a id='downloadInstruction' class="mdl-button mdl-js-button mdl-js-ripple-effect" href="http://wiki-nsdi.dzk.gov.ua"  target="_blank">{{'NSDI-WIKI'|trans}} </a>
                     <a id='downloadInstruction' class="mdl-button mdl-js-button mdl-js-ripple-effect" href="http://fs.dzk.gov.ua/owncloud/index.php/s/4T2stNyCCLKWVV7"  target="_blank" download="InstructionNSDI">{{'Завантажити інструкцію'|trans}} </a>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect  btn-cancel">{{'Закрити'|trans}}</button>

                </div>
            </div>
        </div>
    </div>
{% endblock modalHelp%}